<!DOCTYPE html>
<html>
<head>
	<title>Video App</title>
</head>
<body>
<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/XYX-IZa3rNs?start=5" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="my_video"></iframe> -->
<div id="my_video"></div>


<button onclick="">press</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://www.youtube.com/iframe_api"></script>
<script type="text/javascript">
	var player;

function onYouTubeIframeAPIReady() {
    player = new YT.Player('my_video', {
        width: 600,
        height: 400,
        videoId: 'XYX-IZa3rNs',
        playerVars: {
            color: 'white'
        },
        events: {
            onReady: initialize
        }
    });
}
function initialize(){

    // Update the controls on load
    updateTimerDisplay();
    var time_update_interval = updateProgressBar();

    // Clear any old interval.
    clearInterval(time_update_interval);
    
    // Start interval to update elapsed time display and
    // the elapsed part of the progress bar every second.
    time_update_interval = setInterval(function () {
        updateTimerDisplay();
        updateProgressBar();

    }, 1000)
    console.log(time_update_interval)
}



	// var x = document.getElementById('my_video').getAttribute("src");
	// console.log(x)
</script>
</body>
</html>